<section id="welcome">
  <div id="title">Jewish Custo Tests</div>
  <div class="border">
    <div class="welcome-message">Do you have a Jewish friend and would like to know more about their religious customs?</div>
    <div class="welcome-subhead">Well sign up today to start learning the many customs the Jewish people have.</div>
  </div>

  <div class="sign-up">
    <% if !user_signed_in? %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </div>
</section>
