<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<span class="edit-profile"><%= link_to 'Edit account', edit_user_registration_path %></span>
