<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created to teach users Jewish Customs and
test their knowledge regarding the topics they have learned.
<!-- <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>. -->
</p>
