.category-test {
  // background-color: rgba(0, 22, 76, 0.5);
  h1, h3, li {
    color: white;
  }
}

#test-list {
  // background-color: rgba(0, 22, 76, 0.5);
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: blue;
  }
}
