$gold: rgb(185, 170, 6);

.category-test{
  background-color: rgba(119, 117, 52, 0.75);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#title{
  text-align: center;
  color: $gold;
}

#edit-test-link, #new-question-link, #category-path {
  text-align: center;
  border-style: solid;
  border-color: rgba(253, 253, 254, 0.8);
  border-width: 3px;
  width: 200px;
  padding: 10px 8px;
  background-color: rgb(71, 69, 30);
  margin-left: auto;
  margin-right: auto;

  a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover{
    color: $gold;
    transition: 100;
  }
}
#edit-question{
  a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover{
    color: $gold;
    transition: 100;
  }
}
ol{
  text-align: center;
  font-size: 18px;
}
li {
  text-align: center;
}


  #submit {
    text-align: center;
    border-style: solid;
    border-color: rgba(253, 253, 254, 0.8);
    border-width: 3px;
    width: 200px;
    padding: 10px 8px;
    background-color: rgb(71, 69, 30);
    margin-left: auto;
    margin-right: auto;
    p {
      color: white;
    }
  }
