.category-test {
  h1, h3, li {
    color: white;
  }
}

#test-list {
  background-color: rgba(119, 117, 52, 0.75);
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: rgb(185, 170, 6);
  }
}
