$gold: rgb(185, 170, 6);

#user-show{
  background-color: rgba(115, 112, 63, 0.35);
  text-align: center;
  font-weight: bold;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  a:hover {
    color: rgb(185, 170, 6);;
  }
}
#user-info, #users-test, #flash{
  background-color: rgb(71, 69, 30);
  h3{
    text-decoration: underline;
  }
  h1, h3, ol, li {
    color: $gold;
  }
}

#edit-profile, #cancel-account{
  border-style: solid;
  border-color: rgba(253, 253, 254, 0.8);
  border-width: 3px;
  width: 200px;
  text-align: center;
  background-color: rgb(71, 69, 30);
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bold;
}

#delete-test-result{
  color: black;
}

#incorrect, #submitted-answer {
  color: red;
}
#correct {
  color: green;
}
// #flash {
//   margin-top: 5px;
// }
