<div id="kosher-body" class='<%= @kosher.id %>'>
  <div id="kosher-description">
    <h1>What is <%= @kosher.title %>?</h1>
    <p>Kosher is the set of Jewish religious dietary laws.
    Food that may be consumed according to Jewish law is termed kosher in
    English but comes from the Hebrew word kasher, which means ‘fit’ to eat.
    Most of the basic laws of kashrut are derived from the Torah’s Books of
    Leviticus and Deuteronomy. Their details and practical application, are set
    down in the oral law, which is now the Mishnah and Talmud.</p>
  </div>
  <div id="kosher-animals">
    <h1>What type of Animals are Kosher?</h1>
    <h2>"And every beast that parts the hoof, and has the hoof cloven into two,
        and chews the cud among the beasts, that you may eat."</h2>
    <h3>Deuteronomy 14:6</h3>
    <p>Even if an animal lacks only one of these characteristics it can not be eaten.
    Those animals that chew the cud, eat vegetation; and animals with split hooves
    are usually peaceful animals. Hence the two specifications rule out all animals
    that prey on others. Cows, sheep, goats, and deer are all kosher animals.
    Pigs, rabbits, squirrels, bears, dogs, cats, camels, and horses are not.</p>
  </div>
  <div id="kosher-fish">
    <h1>What type of Fish are Kosher?</h1>
    <h2>"These you may eat, whatever is in the water: all that have fins and scales,
    those in the water, in the seas or in the rivers, you may eat."</h2>
    <h3>Leviticus 11:9</h3>
    <p>This rule has sometimes caused problems as some scales and fins are rather
    rudimentary and so there has been considerable debate about sturgeon and
    whether it is permitted to eat caviar.</p>
  </div>
  <div id="kosher-bird">
    <h1>What type of Birds are Kosher?</h1>
    <h2>"These are the birds you are to regard as unclean and not eat because they
    are unclean: the eagle, the vulture, the black vulture. The red kite, any
    kind of black kite. Any kind of raven. The horned owl, the screech owl,
    the gull, any kind of hawk. The little owl, the cormorant, the great owl.
    The white owl, the desert owl, the osprey. The stork, any kind of heron,
    the hoopoe and the bat."</h2>
    <h3>Leviticus 11:13-19</h3>
    <p>Instead of giving a general rule for birds, the Bible lists the names of the
    species which are not permitted to be eaten. The Mishnah states that these
    forbidden birds seize their food in their claws and have an extra talon,
    meaning that these are birds of prey. The problem of relying on a list of
    names is that for several of these names, we are not sure of their exact
    modern equivalents. And secondly. Is it right that when any new species is
    found, that it is automatically kosher because it was not on the original list
    of those specifically forbidden. This caused a problem with American turkeys.
    Some Rabbis approved their suitability for eating, but a few did not.
    </p>
  </div>
  <div id="remaining_creatures">
    <h1>Remaining Animals Kosher?</h1>
    <p>Almost any other creature apart from those listed above is not permitted to
    be eaten. All reptiles, amphibians and invertebrate animals are forbidden to
    us. In the latter category are included shellfish. The only other creatures
    that the Bible permits are a small group of locusts.</p>
  </div>
  <div id="slaughter">
    <h1>How to Slaughter and make a Kosher animal Kosher to Eat?</h1>
    <p>Animals and birds must be slaughtered by a trained individual using a special
    method of slaughter. The slaughterer must sever the jugular vein,
    carotid artery, esophagus, and trachea in a single continuous cutting movement
    with an unserrated sharp knife. Failure to follow this criteria renders the
    meat of the animal unsuitable. The body must be checked after slaughter to
    confirm that the animal had no medical condition or defect. If the animal did
    have any issue, the meat would not be kosher.</p>
  </div>
  <div id="utensils">
    <h1>Kosher Utensils</h1>
    <p>Utensils used for non-kosher foods become non-kosher, and make even
      otherwise kosher food prepared with them non-kosher. Some such utensils,
      depending on the material they are made from, can be made suitable for
      preparing kosher food again by immersion in boiling water or by the
      application of a blowtorch.
    </p>
  </div>
  <div id="milk-and-meat">
    <h1>Seperation Between Milk and Meat</h1>
    <p>Meat and milk cannot be mixed. The source for this is found in
      Deuteronomy 14:21 where it mentions "You shall not cook a kid in its
      mother’s milk." From this it is understood that meat and dairy products
      cannot be served at the same meal, served or cooked in the same utensils,
      or stored together. Observant Jews have separate sets of dishes, and
      sometimes different kitchens, for meat and milk, and wait anywhere between
      one and six hours after eating meat before consuming milk products.</p>
  </div>
  <div id="kosher-certifications">
    <h1>Kosher Certifications</h1>
    <p>There are many food products that have kosher certifications symbols.
      Manufacturers sometimes identify the products that have received such
      certification by adding these symbols to the label.  These symbols are
      known in Judaism as hechsherim. Due to differences in kashrut standards
      held by different organizations, the hechsheirim of certain Jewish
      authorities may at times be considered invalid by other Jewish authorities.
      To determine if certain items are kosher, below are examples of kosher
      symbols that can be found on many products throughout America.</p>
    <li class="kosher-symbols"><img src="http://www.nachas.org/BethYehuda/koshsym/Image1.gif"></li>
    <li class="kosher-symbols"><img src="http://www.nachas.org/BethYehuda/koshsym/Image2.gif"></li>
    <li class="kosher-symbols"><img src="http://www.nachas.org/BethYehuda/koshsym/Image3.gif"></li>
    <li class="kosher-symbols"><img src="http://www.nachas.org/BethYehuda/koshsym/Image4.gif"></li>
  </div>
  <%=link_to "#{@kosher.title} Test", test_path(@kosher.questions.map(&:tests).last.first.id) %>
</div>
